*{
    margin: 0;
    border: 0;
}
.tudo{
    display: flex;
}
.direita{
    width: 72vw;
}
.header h1{
    margin-left: 3vw;
    margin-top:  7vh;
    color: black;
}
.linha1{
    margin-left: 1vw;
    margin-top: 3vh;
    width: 80vw;
    border-bottom: 2px solid black;
}
.informacoes{
    margin-top: 2vh;
    width: 70vw;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
}
.informacoes h2{
    margin-right: 2vw;
}
.blocos {
    display: flex;
    border: 2px solid #1A3281;
    width: 20vw;
}
.header2{
    display: flex;
    align-items: center;
    
}
