*{
    margin: 0;
    border: 0;
}
.tudo{
    display: flex;
}
.direita{
    width: 85vw;
}
.header h1{
    margin-left: 3vw;
    margin-top:  7vh;
    color: black;
}
.header3 {
    margin: 2vw
}
.linha1{
    margin-left: 1vw;
    margin-top: 3vh;
    width: 80vw;
    border-bottom: 2px solid black;
}
.informacoes{
    margin-top: 2vh;
    width: 70vw;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
}
.informacoes h2{
    margin-left:  2vw;
    margin-right: 2vw;
}
.blocos {
    display: flex;
    border: 2px solid #1A3281;
    width: 30vw;
    border-radius: 10px;
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}
.BOTAO{
    background-color: #1A3281;
    border-radius: 0px 10px 10px 0px;
    width: 5vw;
    height: 5vh;
}
.BUSCAS{
    display: flex;
    justify-content: center;
    align-items: center;
}
.INPUT{
    border-radius: 10px 0px 0px 10px;
    width: 30vw;
    height: 5vh;
    border: 1px solid #1A3281;
}
.header2{
    display: flex;
    align-items: center;
}

.Mostra{
    margin-top: 2vw;
}
.Infos{
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    margin-left: 2vw;
}
.infosGerais{
    margin-top: 5vh;
    margin-left: 1vw;
}
.API{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 55vh;
    border: 2px solid #1A3281;
    margin-top: 5vh;
}
.dados{
    display: flex;
    justify-content: center;
}
 .foto{
   margin-right: 15vw;
}
.foto2{
    margin-right: 20vw;
 }
.Fotinhas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Fotinhas2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
}
