*{
    margin: 0;
    border: 0;
}

.tudo{
    display: flex;
}
.tudo button {
    cursor: pointer; /* O cursor se transforma em uma mão */
  }
.header h1{
    margin-left: 3vw;
    margin-top:  7vh;
    color: black;
}
.linha1{
    margin-left: 1vw;
    margin-top: 3vh;
    width: 80vw;
    border-bottom: 2px solid black;
}
.Pesq{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
}
.pesquisa{
    display: flex;
    align-items: center;
    width: 30vw;
    height: 5vh;
}
.pesquisa input{
    border-radius: 10px 0px 0px 10px;
    border: 2px solid #1A3281;
    height: 5vh;
    width: 20vw;
}
.pesquisa button{
    border-radius: 0px 10px 10px 0px;
    background-color: #1A3281;
    height: 5vh;
    width: 10vw;
}
.cadSala{
    height: 5vh;
    width: 30vw;
}
.cadSala button{
    align-items: center;
    border-radius: 10px;
    background-color: #1A3281;
    height: 5vh;
    width: 30vw;
}
.cadSala h3{
    width: 30vw;
    height: 4vh;
    color: white;
}
.lista{
    margin-top: 5vh;
    margin-left: 3vw;
    display: flex;
    width: 80vw;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 5vw;
}