*{
    margin: 0;
    border: 0;
}

.tudo{
    display: flex;
}
.direita{
    width: 78vw;
}
.tudo button {
    cursor: pointer; /* O cursor se transforma em uma mão */
  }
.header h1{
    margin-left: 3vw;
    margin-top:  7vh;
    color: black;
}
.linha1{
    margin-left: 1vw;
    margin-top: 3vh;
    width: 80vw;
    border-bottom: 2px solid black;
}
.Pesq{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-right: 5vw;
    margin-top: 5vh;
}
.pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55vw;
    height: 5vh;
}
.pesquisa input{
    border-radius: 10px 0px 0px 10px;
    border: 2px solid #1A3281;
    height: 5vh;
    margin-left: 2vh;
    width: 15vw;
}
.pesquisa button{
    border-radius: 0px 10px 10px 0px;
    background-color: #1A3281;
    height: 5vh;
    width: 10vw;
}

.cadSala{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 70vw;
}

.cadSala button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #1A3281;
    height: 5vh;
    margin-left: 3vh;
    width: 20vw;
}

.cadSala h3{
    width: 30vw;
    height: 4vh;
    color: white;
}
.lista{
    margin-top: 5vh;
    margin-left: 2vw;
    padding-right: 10vw;
    display: flex;
    width: 78vw;
}
.lista div{
    display: flex;
    width: 20vw;
    margin-right: 6vw;
}
.lista h3{
    width: 15vw;
}
.amostra{
    margin-top: 5vh;
    margin-left: 2vw;
    display: flex;
    width: 78vw;
    justify-content: space-between;
}
.Editar{
    background-color: white;
}
.lista2 {
    width: 80vw;
    height: 55vh;
    margin-left: 1vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid #1A3281;
    overflow: hidden;
  }
  
  .scrollContainer {
    flex: 1; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.CaixaEdicao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}
.CaixaMostrada{
    border-radius: 10px;
    border: 2px solid #1A3281;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 72vw;  
}
.CaixaMostrada p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh;
}
.modalSearch{
    width: 72vw;
    border: 2px solid #1A3281;
}
.modalSearch p {
    margin: 2vw;
}

