*{
    margin: 0;
    border: 0;
}

.tudo{
    display: flex;
}
.direita{
    width: 78vw;
}
.tudo button {
    cursor: pointer; /* O cursor se transforma em uma mão */
  }
.header h1{
    margin-left: 3vw;
    margin-top:  7vh;
    color: black;
}
.linha1{
    margin-left: 1vw;
    margin-top: 3vh;
    width: 80vw;
    border-bottom: 2px solid black;
}
.Pesq{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
}
.pesquisa{
    display: flex;
    align-items: center;
    width: 30vw;
    height: 5vh;
}
.pesquisa input{
    border-radius: 10px 0px 0px 10px;
    border: 2px solid #1A3281;
    height: 5vh;
    width: 20vw;
}
.pesquisa button{
    border-radius: 0px 10px 10px 0px;
    background-color: #1A3281;
    height: 5vh;
    width: 10vw;
}
.cadSala{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 30vw;
}
.cadSala button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #1A3281;
    height: 5vh;
    width: 30vw;
}
.cadSala h3{
    width: 30vw;
    height: 4vh;
    color: white;
}
.lista{
    margin-top: 5vh;
    margin-left: 1vw;
    padding-right: 10vw;
    display: flex;
    width: 78vw;
    justify-content: space-between;
}
.amostra{
    margin-top: 5vh;
    margin-left: 2vw;
    display: flex;
    width: 78vw;
    justify-content: space-between;
}
.Editar{
    background-color: white;
}
.lista2{
    width: 80vw;
    max-height: 54vh;
    margin-left: 1vw;
    margin-top: 2vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    border: 5px solid #1A3281;
}
.CaixaEdicao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CaixaMostrada{
    border-radius: 10px;
    border: 2px solid #1A3281;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 72vw;
    margin-left: 3vw;
}
.CaixaMostrada p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}